[Unit]
Description=Daemon for processing images produced by *_camd.
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3 -u /usr/bin/pipelined /etc/pipelined/%i.json

[Install]
WantedBy=multi-user.target
